.AppFlex{
    justify-content: space-between;
}

.AppBarBox {
    height: 30% !important;
}
.white-divdier {
    color: white;
    background-color: white !important;
    height: 2px !important;
}

.MuiPaper-root.MuiDrawer-paper {
    background: linear-gradient(to bottom, #519259, #064635);
}