.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-4.MuiGrid-grid-md-7.css-17tj5zw-MuiGrid-root {
    height: 27% !important;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation6.MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12.MuiGrid-grid-sm-8.MuiGrid-grid-md-5.css-gadse4-MuiPaper-root-MuiGrid-root {
    margin-top: 36% !important;
    /* margin-left: 3.5%; */
    position: absolute;
    background-position: center !important;
    /* width: 93%; */
    height: 90% !important;
    border-radius: 21px !important;
}