@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.gradient {
  background: linear-gradient( 117deg,  rgba(123,216,96,1) 39.2%, rgba(255,255,255,1) 156.2% );
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* .MuiGrid-root.MuiGrid-item.MuiGrid-grid-xs-12{
  height: 27% !important;
}
.MuiGrid-grid-xs-12 {
  margin-top: 38% !important;
      position: absolute !important;
      height: 100% !important;
      border-radius: 4% !important;
  } */

.App-link {
  color: #61dafb;
}

.padding-sx {
  padding: 3%;
}
.css-1y8ugea{
  margin-top: 3% !important;
}

.margin-bottom-sx {
  margin-bottom: 5% !important;
}
.margin-top-sx {
  margin-top: 2vh !important;
}

.minus-margin-top-sx {
  margin-top: -6% !important;
  overflow: hidden;
}

.space-between {
  justify-content: space-between !important;
}

.left {
  left: 70% !important;
}

.margin-sx {
  margin: 5% !important;
}

.MuiGrid-root.MuiGrid-container.css-1jrn2fe-MuiGrid-root {
  overflow: hidden !important;
}

.initial {
  position:initial !important
}

.top-lg{
  margin-top: 30% !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
